body {
    margin: 0;
}

.hero {
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: "Space Mono", sans-serif;
        font-size: 96px;
        font-weight: 700;
        font-style: italic;
        text-transform: uppercase;
        /* prevent line breaks */
        white-space: nowrap;
        -webkit-text-stroke: 2px #fff;
        color: transparent;

        @media screen and (min-width: 769px) and (max-width: 1150px) {
            font-size: 60px;
          }
          
          @media screen and (max-width: 768px) {
            font-size: 28px;
          }
          
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// filtres de recherche
.filters {
padding: 30px;



select {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #B8BBC2;
    background-color: #ffffff;
    cursor: pointer;
    font-family: "PoppinsMedium";
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 10px;
    }
}

.filters form {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 600px) {
        width: auto;
        gap: 10px;
        flex-direction: column;
      }
}

.filter1 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    @media screen and (max-width: 600px) {
        width: auto;
      }
}

.filter2 {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 600px) {
        width: auto;
      }
}

// .selected-filter {
//     background-color: #FF0000; /* Couleur de fond */
//     color: #FFFFFF; /* Couleur de texte */
// }

// bouton "Charger plus"
.more_btn {
    display: flex;
    justify-content: center;
  }
  
  #load_more {
    font-family: "space_monoregular";
    font-size: 12px;
    font-weight: 400;
    margin : 20px 0 40px;
    padding: 15px 90px;
    border: 2px solid transparent;
    background-color: #D8D8D8;
    cursor: pointer;
  }
  #load_more:hover {
    border: 2px solid black;
  }




/********************/
/* Select2 **********/
/********************/
// .select2{width: 100%;}
// .select2-container .select2-selection--single,
// .select2-container--default .select2-search--dropdown .select2-search__field{
// 	border-color: var(--color-border, #C0C0C0);
// }

// .select2-container .select2-selection--single,
// .select2-dropdown .select2-search--dropdown .select2-search__field{
// 	background-color: var(--color-white, #FFFFFF);
// 	border-radius: var(--br-600, 24px);
// 	border-radius: 0;
// }

// .select2-container .select2-selection--single,
// .select2-container .select2-selection--single .select2-selection__rendered{
// 	height: auto;
// 	line-height: normal;
// }

// .select2-dropdown .select2-search--dropdown .select2-search__field,
// .select2-container .select2-selection--single .select2-selection__rendered{
// 	padding: var(--padding-input, 15px 30px);
// 	color: var(--color-text, #000000);
// }

// .select2-container--default .select2-selection--single .select2-selection__arrow{
// 	height: 100%;
// 	width: var(--gap-700, 48px);
// }

// .select2-search--dropdown,
// .select2-results__option[aria-selected],
// .select2-results__option[data-selected],
// .select2-results__option.select2-results__message{
// 	padding-inline: var(--gap-300, 12px);
// }

// .select2-dropdown{
// 	border-radius: var(--br-200, 8px);
// 	border-radius: 0;
// 	overflow: hidden;
// }

// .select2-search--dropdown{
// 	padding-block: var(--gap-300, 12px);
// }

.select2-dropdown .select2-search--dropdown .select2-search__field{
	display: none;
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[data-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected]:hover,
.select2-container--default .select2-results__option--highlighted[data-selected]:hover,
.select2-container--default .select2-results__option--highlighted[aria-selected]:focus,
.select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[data-selected]:focus{
	background-color: #ef8e8e;
	color: var(--color-white, #FFFFFF);
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected]{
	background-color:#FF0000;
	color: var(--color-primary, #000000);
    
}

.select2-results__option--highlighted {
    background-color: #ff0000 !important; /* Remplacez #ff0000 par la couleur que vous voulez */
    color: #ffffff !important; /* Remplacez #ffffff par la couleur que vous voulez */

}

.select2-container--default{
    font-family: "poppinsregular";
}

.select2-container--default .select2-selection--single {
    padding: 5px 20px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 39px !important;
    text-transform: uppercase;
}

.select2-container {
    width: 100% !important;
}
