// CSS de la lightbox 

// .fancybox-button svg {
// display: none !important; /* Supprimez l'icône par défaut */
// }

// .fancybox-navigation .fancybox-button {
//     width: 340px !important;
// }

.fancybox-custom-layout .fancybox-bg {
    background: rgba(0, 0, 0, 0.8);
}


// /* Supprimez le style par défaut des flèches */
// .fancybox-button--arrow_right,
// .fancybox-button--arrow_left {
//   background: transparent !important; /* Utilisez !important si nécessaire pour écraser les styles par défaut */
// }

// /* Ajoutez vos propres images pour les flèches */
// .fancybox-button--arrow_right:before,
// .fancybox-button--arrow_left:before {
//   content: url('../assets/images/Next.png'); /* Remplacez par le chemin de votre image de droite */
//   margin-left: 25px;
// }

// .fancybox-button--arrow_left:before {
//   content: url('../assets/images/Prev.png'); /* Remplacez par le chemin de votre image de gauche */
//   margin-right: 25px;
// }

/* Force les flèches à rester visibles */
.fancybox-button--arrow_right,
.fancybox-button--arrow_left {
  visibility: visible !important; /* Utilisez !important pour forcer l'affichage */
  opacity: 1 !important; /* Utilisez !important pour forcer la pleine opacité */
}

// .fancybox-button--arrow_left {
// padding-left: 70px !important; /* Ajustez la taille pour décaler la flèche de droite */
// }

// .fancybox-button--arrow_right {
// padding-right: 70px !important; /* Ajustez la taille pour décaler la flèche de gauche */
// }

/* Assurez-vous que les flèches ne disparaissent pas après une certaine période */
.fancybox-button--arrow_right:hover,
.fancybox-button--arrow_left:hover {
  opacity: 1 !important; /* Utilisez !important pour maintenir la visibilité au survol */
}

/* Ajustez la position du texte si nécessaire */
.fancybox-button--arrow_right:after,
.fancybox-button--arrow_left:after {
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff; /* Couleur du texte */
  font-family: "space_monoregular"; /* Si vous utilisez une police personnalisée */
  font-size: 14px;
}

.fancybox-button--arrow_right:after {
  content: "Suivante  \2192";
  left: -100px; /* Ajustez la taille pour décaler le texte à gauche de la flèche de droite */
}

.fancybox-button--arrow_left:after {
  content: "\2190  Précédente";
  right: -100px; /* Ajustez la taille pour décaler le texte à droite de la flèche de gauche */
}


.fancybox-caption__body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;

    .fancybox-caption__body__title {
        font-family: "poppinsregular";
        font-size: 14px;
        font-weight: 400;
        color: white;
    }

}
