// CSS pour la superposition modale

.popup-overlay {
    position: fixed;                    // Position fixe pour couvrir l'intégralité de la fenêtre d'affichage
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 3, 0.8);     // Fond noir semi-transparent pour l'effet de superposition
    display: none;                      // Initialement masqué, sera affiché par JavaScript pour afficher la fenêtre modale
    justify-content: center;            // Centre le contenu verticalement
    align-items: center;                // Centre le contenu horizontalement
    z-index: 9999;                      // Z-index élevé pour s'assurer que la superposition apparaît au-dessus

    &.open {
        display: flex;                  // Affiche la superposition lorsqu'elle a la classe "open"
    }
}


.popup-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 512px;
    border: 5px solid black;
    background: white;
    margin-top: 16px;
    padding: 8px 40px 40px 40px;
    height: auto;
    overflow: hidden;
}

// Style CF7
/* Styliser le conteneur de formulaire CF7 */
.wpcf7 {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

/* Styliser les labels */
.wpcf7 label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Styliser les champs de saisie et de texte */
.form-control {
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Espace entre les champs */
    border: 1px solid #ccc; /* Bordure des champs */
    box-sizing: border-box; /* Pour s'assurer que le padding ne change pas la largeur */
}

/* Styliser le champ textarea séparément pour contrôler la hauteur */
.form-control-textarea {
    resize: none; /* Empêche l'utilisateur de redimensionner */
    border-radius: 8px;
    border: 1px solid #ccc;
    height: 190px; /* Ajustez la hauteur selon vos besoins */
}

/* Styliser le bouton d'envoi */
.submit-button {
    font-family: 'space_monoregular';
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #D8D8D8;

    ; /* Couleur de fond du bouton */
    color: #000000; /* Couleur du texte du bouton */
    border: none;
    margin-top: 10px; /* Espace avant le bouton */
    cursor: pointer;
}

/* Ajouter des styles pour les états hover et focus des boutons et champs */
.form-control:hover,
.form-control:focus,
.submit-button:hover {
    border-color: #666; /* Couleur de bordure lors du survol ou du focus */
}

.submit-button:focus {
    outline: none;
    background-color: #333; /* Couleur de fond du bouton lors du focus */
}