/** section détail photo **/
.main-content {
    width: 100%;
    height: 843px;
  }
  .content-body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .title-type {
    font-family: "space_monoregular";
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    border-bottom: 2px solid black;
    border-bottom-width: 40%;
    margin-right: 1%;
  }
  .pic-title {
    font-style: italic;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    font-size: 66px;
    width: 67%;
    line-height: 70px;
  }
  .title-type p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .photo-container {
    height: 100%;
    width: 50%;
  }
  .photo-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  // section contact et carrousel
  .contact-carrousel {
    display: flex;
    height: 118px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid black;
  }
  .contact-btn {
    display: flex;
    align-items: center;
  }
  .contact-btn h4{
    font-family: PoppinsRegular;
    font-size: 14px;
    font-weight: 300;
    }
  #boutonContact {
    margin-left: 80px;
    padding: 15px 90px;
    border: none;
    border-left: 4px solid transparent;
    background-color: #D8D8D8;
    cursor: pointer;
  }
  #boutonContact:hover {
    border: 4px solid black;
  }

// partie carrousel miniature
  .naviguationPhotos {
    width: 50%;
    height: 118px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media screen and (max-width: 820px) {
      display:none;
    }
  }

  .naviguationArrow {
    width: 81px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
    height: 118px;
  
    .arrow {
       width: 25px;
       height: auto;
  
       background-size: cover;
       background-position: center;
       display: inline-block;
  
       &:hover + .miniPicture {
         display: flex !important;
       }
  
       .arrow-left {
         top: 10px;
         position: relative;
      }
      .arrow-right{
        top: 10px;
        position: relative;
      }
    }
  }
  
  .miniPicture-content {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .miniPicture,
  .miniPicture-left,
  .miniPicture-right {
    // visibility: hidden; // au lieu de display: none;
    opacity: 1;
    position: relative;
    height: 71px;
    width: 81px;
    top: 8px;
    transition: visibility 0,3s, opacity 0.3s linear; // Transition pour un effet de fondu
  
    a {
      display: block;
      width: 100%;
      height: 100%;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
    .arrow:hover + .miniPicture,
    .arrow:hover + .miniPicture-left,
    .arrow:hover + .miniPicture-right {
      visibility: visible;
      opacity: 1;
    }
  